*.iml
target
/bin/*
/src/main/scripts/win64/Makefile
/src/main/scripts/win64/CMakeCache.txt
/src/main/scripts/win64/CMakeFiles/*
/src/main/scripts/win64/cmake_install.cmake
/src/main/scripts/win64/java/*
/src/main/scripts/linux64/*
/src/main/scripts/win64/includes/*
/src/main/c++/*
/src/main/includes/*
